<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Carpentry Intro and Setup</td> </tr>
      <tr> <td>09:40</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/01-intro/">Introducing the Shell</a></td> </tr>
      <tr> <td>09:45</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/02-filedir/">Navigating Files and Directories</a></td> </tr>
      <tr> <td>10:15</td>  <td>Morning Break</td> </tr>
      <tr> <td>10:25</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/03-create/">Working with Files and Directories</a></td> </tr>
      <tr> <td>10:55</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/04-pipefilter/">Pipes and Filters</a></td> </tr>
      <tr> <td>11:25</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/05-loop/">Loops</a></td> </tr>
      <tr> <td>12:00</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>12:15</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/06-script/">Shell Scripts</a></td> </tr>
      <tr> <td>12:45</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/07-find/">Finding Things</a></td> </tr>
      <tr> <td>01:20</td>  <td>Review</td> </tr>
      <tr> <td>01:30</td>  <td>End</td> </tr>
      <tr> <td>Follow-up</td>  <td><a href="https://forms.gle/J4iJe17XU1gnkCE37">Daily Feedback Survey</a></td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Review</td> </tr>
      <tr> <td>09:40</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/08-basics/">Automatic Version Control</a></td> </tr>
      <tr> <td>9:50</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/09-setup/">Setting Up Git</a></td> </tr>
      <tr> <td>10:10</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/10-create/">Creating a Repository</a></td> </tr>
      <tr> <td>10:25</td>  <td>Morning Break</td> </tr>
      <tr> <td>10:35</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/11-changes/">Tracking Changes</a></td> </tr>
      <tr> <td>10:55</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/12-history/">Exploring History</a></td> </tr>
      <tr> <td>11:20</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/13-ignore/">Ignoring Things</a></td> </tr>
      <tr> <td>11:25</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/14-github/">Remotes in GitHub</a></td> </tr>
      <tr> <td>12:05</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>12:20</td>  <td><a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/15-collab/">Collaborating</a></td> </tr>
      <tr> <td>12:50</td>  <td<a href="https://ucsbcarpentry.github.io/2021-12-14-ucsb-gitbash-online/16-conflict/">Conflicts</a></td> </tr>
      <tr> <td>01:20</td>  <td>Review</td> </tr>
      <tr> <td>01:30</td>  <td>End</td> </tr>
      <tr> <td>Follow-up</td>  <td><a href="https://forms.gle/mEn7CFsiPcVZwrpJA">Post-workshop Survey</a></td> </tr>

    </table>
  </div>
</div>
